html, body {
    margin: 5px;
    height: 98%;
}

#container {
    height: 100%;
    border-radius: 1px;

    display: flex;
}

/* section, main {
} */

#row {
    padding: 3px;
    height: 100%;
}

section {
    margin-right: 3px;
    padding: 5px;
    float: left;

    background-color: #e2dfdf;

    width: 25%;
    max-width: 280px;
    border-radius: 1px;
}

.col {
    width: 100%;
    padding: 0;
}

li {
    text-align: center;
    margin: 5px;
}

li:hover {
    background-color: #e1f1ff;
}

main {
    margin-left: 5px;
    padding: 0 5px 0 5px !important;
    text-align: center;
    align-items: center;

    width: 75%;

    background-color: #e2dfdf;
    border-radius: 1px !important;
}

#functions {
    min-height: 100%;
}

#basic {
    margin-top: 5px;
    padding: 10px 13px 10px 13px;

    background-color: #ffffffb4;
    border-radius: 1px;
}

#toggle {
    width: 100%;
}

#modeSelector {
    margin-top: 15px;
    display: grid;
    grid-template-areas: 
        'l s s s s';
}

#modeSelector > span {
    grid-area: l;
    
    line-height: 38px;
    font-size: 20px;
}

#modes {
    grid-area: s;
}

#mode-container {
    margin-top: 5px;
    padding: 10px 13px 10px 3px;

    background-color: #ffffffb4;
    border-radius: 1px;
}

#scene {
    display: grid;
    grid-template-areas: 
        'l s s s s'
        'r r r r r';
}

#scene > span {
    grid-area: l;
    
    line-height: 38px;
    font-size: 20px;
}

#sceneSel {
    grid-area: s;
}

#speed {
    grid-area: r;
}

#color-temp > .range-slider {
    margin-top: 0px !important;
}

#universal-functions {
    margin-top: 5px;
    padding: 10px 13px 10px 3px;

    background-color: #ffffffb4;
    border-radius: 1px;
}

#brightness {
    margin: 0;
}